



* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width: 400px; }
.grid-item--height2 { height: 400px; }

.grid-item--width3 { width: 600px; }
.grid-item--height3 { height: 600px; }

button { font-size: 20px; }
.button{position: fixed;top:30px;right:50px;}

.no-display{width: 1px;height: 0px;}
.no-vis--vis {
    /*opacity: 1;*/
    /*visibility: visible;*/
    /*cursor: pointer;*/
            /*-moz-transition: opacity 400ms linear, visibility 0s linear,scale 0.4s linear;*/
    /*-o-transition: opacity 400ms linear, visibility 0s linear,scale 0.4s linear;*/
    /*-webkit-transition: opacity 400ms linear, visibility 0s linear,scale 0.4s linear;*/
    /*transition: opacity 400ms linear, visibility 0s linear,scale 0.4s linear;*/
    transform: scale(1,1) translate(0px, 0px);
        -ms-transform: scale(1) ;
            -ms-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    -webkit-transition:all 0.35s ease-out;
        transition:all 0.35s ease-out;

}

.no-vis {
/*visibility: hidden;*/
/*opacity: 0;*/
  transform: scale(0.2,0.2) translate(500px, 100px);;

}
/*.no-display{display: none;}*/
.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}